---
- name: Load k8s config 
  environment:
    KUBECONFIG: "{{ local_config_path }}"
  shell: 
    cmd: | 
      kubectl config set clusters.cluster.local.insecure-skip-tls-verify true
      kubectl config unset clusters.cluster.local.certificate-authority-data
      kubectl config set clusters.cluster.local.server {{ cluster_url }}

- name: Create tmp directory structure
  file:
    path: "tmp/{{ item }}"
    state: directory
  with_items:
    - secret
    - namespaces
    - driver
    - app

- name: "Create secret files"
  template:
    src: "{{ item }}"
    dest: tmp/secret/{{ item | basename | regex_replace('\.j2','') }}
  with_fileglob:
    - roles/csi-driver/templates/secret/*.j2

- name: "Create namespace config files"
  template:
    src: "{{ item }}"
    dest: tmp/namespaces/{{ item | basename | regex_replace('\.j2','.yaml') }}
  with_fileglob:
    - roles/csi-driver/templates/namespaces/*.j2

- name: "Create driver config files"
  template:
    src: "{{ item }}"
    dest: tmp/driver/{{ item | basename | regex_replace('\.j2','.yaml') }}
  with_fileglob:
    - roles/csi-driver/templates/driver/*.j2

- name: "Create app config files"
  template:
    src: "{{ item }}"
    dest: tmp/app/{{ item | basename | regex_replace('\.j2','.yaml') }}
  with_fileglob:
    - roles/csi-driver/templates/app/*.j2

- name: Apply namespaces
  environment:
    KUBECONFIG: "{{ local_config_path }}"
  shell: |
    kubectl apply -f tmp/namespaces

- name: Create secret
  environment:
    KUBECONFIG: "{{ local_config_path }}"
  shell: |
    kubectl create secret generic ovc-disk-csi-driver-secret --from-file tmp/secret -n ovc-disk-csi --dry-run -o yaml | kubectl apply -f -

- name: Apply driver config
  environment:
    KUBECONFIG: "{{ local_config_path }}"
  shell: |
    kubectl apply -f tmp/driver

- name: Apply app config
  environment:
    KUBECONFIG: "{{ local_config_path }}"
  shell: |
    kubectl apply -f tmp/app
